<header>
    <div class="site-info">
        <div class="phone-number-inf">
            <img class="phone-icon" src="/public/img/phone-call.png" alt="">
            <div class="phone-number">044 000 00 00</div>
        </div>
        <div class="site-logo">
            <p>YOUR LOGO</p>
        </div>
        <div class="button-block">
            <button class="log-in">
                Log in
            </button>
            <button class="log-out">
                Log out
            </button>
        </div>
    </div>
    <div class="menu">
        <div class="electronics">Електроніка</div>
        <div class="clothes">Одяг та взуття</div>
        <div class="cosmetics">Косметика</div>
        <div class="home">Дім та інтер'єр</div>
    </div>
</header>